#frame {

    position: relative;
    padding-bottom: 56.25%;
    height: 0%;
    overflow: hidden;
}

#frame #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
     height: 440px;

}